name: C/C++ CD

on: release

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: installcmake
      run: 
        sudo apt-get install -y cmake;
        sudo apt-get remove gcc g++;
        sudo apt-get install gcc g++
    - name: cmake
      run: 
        chmod +x ./build;
        ./build      
    - name: make
      run: cd out/linux &&make
    - name: package
      run: cd out/linux &&make package
    - name: Upload to release
      uses: JasonEtco/upload-to-release@master
      with:
        args: out/linux/cxjser--Linux.sh text/plain
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}


